# all FASTQ files. Too large, will fail commit to Github
*.fastq*

# Jupyter checkpoint files
**/.ipynb_checkpoints/

# VS Code's virtual documents
**/.virtual_documents/

# macOS system files
*.DS_Store

# snakemake hidden files
**/.snakemake/

# additional files not needed. Now archived
/additional/
